@charset "UTF-8";

.burger {
  position: relative;
  width: 1.5em;
  height: 2.5em;
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
  overflow: hidden;
}

.burger > li {
  position: absolute;
  left: 0;
  z-index: inherit;
  width: 1.5em;
  height: 2px;
  transition: width .3s ease;
  animation-timing-function: ease;
  animation-duration: .3s;
  border-radius: 2px;
}

.burger > li:first-child,
.burger > li:nth-child(2) {
  width: 1.25em;
  top: calc(50% - 1px);
}

.burger > li:nth-child(3) {
  top: .65em;
  width: .75em;
}

.burger > li:last-child {
  bottom: .65em;
}

.burger:hover > li:first-child,
.burger:hover > li:nth-child(2),
.burger:hover > li:nth-child(3),
.burger > li:last-child,
div.container.opened .burger > li {
  width: 1.5em;
}

div.container.closed .burger > li:first-child {
  transform: rotate(0);
  animation-name: rotate-left-down;
}

div.container.opened .burger > li:first-child {
  transform: rotate(45deg);
  animation-name: rotate-left-up;
}

@-webkit-keyframes rotate-left-up {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate-left-up {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes rotate-left-down {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes rotate-left-down {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

div.container.closed .burger > li:nth-child(2) {
  transform: rotate(0);
  animation-name: rotate-right-down;
}

div.container.opened .burger > li:nth-child(2) {
  transform: rotate(-45deg);
  animation-name: rotate-right-up;
}

@-webkit-keyframes rotate-right-up {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-45deg);
  }
}

@keyframes rotate-right-up {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-45deg);
  }
}

@-webkit-keyframes rotate-right-down {
  0% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes rotate-right-down {
  0% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

div.container.closed .burger > li:nth-child(3) {
  top: .65em;
  transform: rotate(0);
  animation-name: top-down;
}

div.container.opened .burger > li:nth-child(3) {
  top: calc(50% - 1px);
  transform: rotate(45deg);
  animation-name: top-up;
}

@-webkit-keyframes top-up {
  0% {
    top: .65em;
    transform: rotate(0);
  }

  50% {
    top: calc(50% - 1px);
    transform: rotate(0);
  }

  100% {
    top: calc(50% - 1px);
    transform: rotate(45deg);
  }
}

@keyframes top-up {
  0% {
    top: .65em;
    transform: rotate(0);
  }

  50% {
    top: calc(50% - 1px);
    transform: rotate(0);
  }

  100% {
    top: calc(50% - 1px);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes top-down {
  0% {
    top: calc(50% - 1px);
    transform: rotate(45deg);
  }

  50% {
    top: calc(50% - 1px);
    transform: rotate(0);
  }

  100% {
    top: .65em;
    transform: rotate(0);
  }
}

@keyframes top-down {
  0% {
    top: calc(50% - 1px);
    transform: rotate(45deg);
  }

  50% {
    top: calc(50% - 1px);
    transform: rotate(0);
  }

  100% {
    top: .65em;
    transform: rotate(0);
  }
}

div.container.closed .burger > li:last-child {
  bottom: .65em;
  transform: rotate(0);
  animation-name: bottom-down;
}

div.container.opened .burger > li:last-child {
  bottom: calc(50% - 1px);
  transform: rotate(-45deg);
  animation-name: bottom-up;
}

@-webkit-keyframes bottom-up {
  0% {
    bottom: .65em;
    transform: rotate(0);
  }

  50% {
    bottom: calc(50% - 1px);
    transform: rotate(0);
  }

  100% {
    bottom: calc(50% - 1px);
    transform: rotate(-45deg);
  }
}

@keyframes bottom-up {
  0% {
    bottom: .65em;
    transform: rotate(0);
  }

  50% {
    bottom: calc(50% - 1px);
    transform: rotate(0);
  }

  100% {
    bottom: calc(50% - 1px);
    transform: rotate(-45deg);
  }
}

@-webkit-keyframes bottom-down {
  0% {
    bottom: calc(50% - 1px);
    transform: rotate(-45deg);
  }

  50% {
    bottom: calc(50% - 1px);
    transform: rotate(0);
  }

  100% {
    bottom: .65em;
    transform: rotate(0);
  }
}

@keyframes bottom-down {
  0% {
    bottom: calc(50% - 1px);
    transform: rotate(-45deg);
  }

  50% {
    bottom: calc(50% - 1px);
    transform: rotate(0);
  }

  100% {
    bottom: .65em;
    transform: rotate(0);
  }
}
