@charset "UTF-8";

div.container > div.workspace,
div.container > div.workspace > div > div.box,
div.container > div.workspace > div > div.box > div:last-child > div > ul {
  display: flex;
}

div.container > div.workspace,
div.container > div.workspace > div > div.box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.container > div.workspace > div {
  position: inherit;
  height: inherit;
  min-width: 0;
  overflow: visible !important;
}

div.container > div.workspace {
  transition: width .3s ease;
}

div.container > div.workspace > div:first-child {
  width: 16em;
}

div.container > div.workspace > div:first-child::before {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 1px;
  content: "";
}

div.container > div.workspace > div:last-child,
div.container > div.workspace > div > div.box > div:last-child,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li:last-child,
div.container > div.workspace > div:last-child > div.box > div:last-child > div > ul > li:first-child {
  flex: 1;
}

div.container > div.workspace > div > div.box,
div.container > div.workspace > div > div.box > div:last-child > div > ul {
  min-height: 100%;
  flex-direction: column;
}

div.container > div.workspace > div:first-child > div.box > div {
  position: relative;
  left: calc(100% - 16em);
  min-width: 16em;
}

.aside-phone,
.aside-logo {
  margin: 0 auto;
  text-decoration: none;
}

.aside-logo {
  width: calc(100% - 3em);
}

.aside-phone {
  padding: 0 1.5em;
}

.aside-phone-span {
  position: relative;
  text-align: center;
  transform-origin: center center;
}

.aside-phone-span::before {
  width: 100%;
  position: absolute;
  bottom: 1.2em;
  left: 0;
  z-index: 10;
  white-space: nowrap;
}

div.container > div.workspace > div > div.box > div:last-child > div > ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

div.container.opened > div.workspace > div:last-child > div.box > div {
  -webkit-filter: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZmlsdGVyIGlkPSJibHVyIj4KICAgICAgICA8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIxMiIgLz4KICAgIDwvZmlsdGVyPgo8L3N2Zz4=#blur");
  -webkit-filter: blur(3px);
  -ms-filter: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZmlsdGVyIGlkPSJibHVyIj4KICAgICAgICA8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIxMiIgLz4KICAgIDwvZmlsdGVyPgo8L3N2Zz4=#blur");
  -ms-filter: blur(3px);
  filter: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZmlsdGVyIGlkPSJibHVyIj4KICAgICAgICA8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIxMiIgLz4KICAgIDwvZmlsdGVyPgo8L3N2Zz4=#blur");
  filter: blur(3px);
}

div.container.opened > div.workspace > div:last-child > div.box > span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .5);
}

@media (min-width : 1201px) {
  div.container > div.workspace > div:last-child {
    width: calc(100% - 16em);
  }

  div.container.opened > div.workspace > div:last-child > div.box > span,
  div.container.opened > div.workspace > div:last-child > div.box > div,
  div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li:last-child {
    display: none;
  }
}

@media (min-width : 961px) and (max-width : 1200px) {
  div.container > div.workspace > div:last-child {
    width: calc(100% - 16em);
  }

  div.container.opened > div.workspace > div:last-child > div.box > span,
  div.container.opened > div.workspace > div:last-child > div.box > div {
    display: none;
  }
}

@media (min-width : 721px) and (max-width : 960px) {
  div.container > div.workspace > div:last-child {
    width: 100%;
    min-width: 100vw;
    max-width: 100vw;
  }

  div.container.opened > div.workspace {
    width: calc(100% + 16em);
  }

  div.container.opened > div.workspace > div:last-child > div.box > span {
    display: block;
  }
}

@media (min-width : 481px) and (max-width : 720px) {
  div.container > div.workspace > div:last-child {
    width: 100%;
    min-width: 100vw;
    max-width: 100vw;
  }

  div.container.opened > div.workspace {
    width: calc(100% + 16em);
  }

  div.container.opened > div.workspace > div:last-child > div.box > span {
    display: block;
  }
}

@media (max-width : 480px) {
  div.container > div.workspace > div:last-child {
    width: 100%;
    min-width: 100vw;
    max-width: 100vw;
  }

  div.container.opened > div.workspace {
    width: calc(100% + 16em);
  }

  div.container.opened > div.workspace > div:last-child > div.box > span {
    display: block;
  }
}
