@charset "UTF-8";

article {
  position: relative;
  width: 100%;
  background-color: inherit;
}

article > div.content {
  position: inherit;
  padding: 0.5rem 1rem;
}

article > div.content > div {
  padding: 0.5rem 0;
  font-size: 0.9em;
}

.article-image-header,
article > div.content > div h1,
article > div.content > div h2,
article > div.content > div h3,
article > div.content > div h4,
article > div.content > header h1,
article > div.content > header h2,
article > div.content > header h3 {
  font-family: "content", Arial, Tahoma, Verdana, sans-serif;
  line-height: 1;
}

article > div.content > div h1,
article > div.content > div h2,
article > div.content > div h3,
article > div.content > div h4,
article > div.content > header h1 {
  position: inherit;
  color: rgba(0, 0, 0, 1);
}

article > div.content > div h1,
article > div.content > div h2,
article > div.content > div h3,
article > div.content > div h4 {
  padding: 0.5em 0;
}

.article-image-header,
article > div.content > div h1,
article > div.content > div h2,
article > div.content > div h3,
article > div.content > div h4,
article > div.content > header h1 {
  text-align: center;
}

.article-image-header,
article > div.content > div h1,
article > div.content > div h2,
article > div.content > header h1 {
  padding: 0 0 0.5rem 0;
}

article > div.content > div blockquote,
article > div.content > header blockquote {
  text-align: center;
}

article > div.content > div ul {
  list-style: disc;
}

.article-image {
  position: relative;
  height: calc(100vh/2);
  min-height: 12.5em;
  overflow: hidden;
}

.article-image-img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.article-image::before,
.article-image::after {
  content: "";
}

.article-image::before {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(255, 255, 255, .75);
}

.article-image::after {
  position: absolute;
  left: -.5em;
  bottom: -.1em;
  z-index: 25;
  width: calc(100% + 1em);
  padding-top: 15%;
  background-image: url(../img/wave-white.svg?301120190201);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.article-image-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 85%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
