@charset "UTF-8";

body {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(25, 25, 25, 1);
}

a {
  color: rgba(189, 54, 47, 1);
  border-bottom: 1px solid rgba(189, 54, 47, .5);
}

a:hover {
  color: rgba(115, 115, 115, 1);
  border-bottom: 1px solid rgba(115, 115, 115, .5);
}

footer > div.footer.copyright > a,
nav > ul > li > a,
nav > ul > li > ul > li > a {
  border: 0 !important;
}

/* header */
.header {
  height: 4.5em;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(255, 255, 255, 1);
}

.header::before {
  display: block;
  background-color: rgba(240, 240, 240, 1);
}

.header-nav-ul-li-a {
  color: rgba(115, 115, 115, 1);
}

.header-nav-ul-li-a:hover {
  color: rgba(25, 25, 25, 1);
}

.header-nav-ul-li-span {
  color: rgba(189, 54, 47, 1);
}

.header-nav-ul-li-element {
  font-weight: 400;
}

.header-submenu {
  background-color: rgba(250, 250, 250, 1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}

.header-submenu-li-a {
  color: rgba(160, 160, 160, 1);
  border: 0 !important;
}

.header-submenu-li-a:hover {
  color: rgba(110, 113, 116, 1);
  background-color: rgba(235, 235, 235, 1);
}

.header-submenu-li-span {
  color: rgba(0, 0, 0, 1);
}

.header-phone {
  font-size: 1em;
  color: rgba(25, 25, 25, 1);
  border: 0 !important;
}

.header-phone:hover {
  color: rgba(189, 54, 47, 1);
}

.header-phone-span-comment {
  font-size: .885em;
  line-height: 1;
  color: rgba(115, 115, 115, 1);
}

.logo-header {
  border: 0 !important;
}

.header-logo {
  border: 0 !important;
}

/* burder */

.header-ul-li-burger {
  padding: 0 0 0 1em;
}

ul.burger > li {
  background-color: rgba(25, 25, 25, 1);
}

/* workspace */

div.container > div.workspace > div:first-child {
  background-color: rgba(248, 248, 248, 1);
}

/* div.container > div.workspace > div:first-child::before {
  display: block;
  background-color: rgba(240, 240, 240, 1);
} */

.breadcrumbs-li::before,
.breadcrumbs-li::after {
  background-color: rgba(160, 160, 160, 1);
}

/* nav */

.aside-logo {
  border: 0 !important;
}

.aside-logo-span {
  height: 4.2em;
}

.aside-phone {
  border: 0 !important;
}

.header-phone-span,
.aside-phone-span {
  font-weight: 900;
  transform: scale(1.23);
}

.header-phone-span {
  transform-origin: right center;
}

.header-phone-span::before,
.aside-phone-span::before {
  content: "+7 (495) ";
  font-weight: 500;
}

.aside-phone-span-comment {
  font-size: .91em;
  line-height: 2;
}

div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li:nth-child(2) {
  background-color: rgba(25, 25, 25, 1);
}

.aside-phone-span-comment,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li:first-child > nav > ul > li > ul > li > a,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li:nth-child(2) > nav > ul > li > a {
  color: rgba(115, 115, 115, 1);
}

.aside-phone,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li:first-child > nav > ul > li > a:hover,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li:first-child > nav > ul > li > ul > li > a:hover,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li:nth-child(2) > nav > ul > li > ul > li > a:hover {
  color: rgba(25, 25, 25, 1);
}

.aside-phone:hover,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li:first-child > nav > ul > li > div > span,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li:first-child > nav > ul > li > ul > li > div > span,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li:nth-child(2) > nav > ul > li > div > span,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li:nth-child(2) > nav > ul > li > ul > li > div > span {
  color: rgba(189, 54, 47, 1);
}

div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li:nth-child(2) > nav > ul > li > a:hover {
  color: rgba(250, 250, 250, 1);
}

div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li > nav > ul > li > a + span::before,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li > nav > ul > li > a + span::after,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li > nav > ul > li > div + span::before,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li > nav > ul > li > div + span::after {
  background-color: rgba(115, 115, 115, 1);
}

div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li > nav > ul > li > a + span:hover::before,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li > nav > ul > li > a + span:hover::after,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li > nav > ul > li > div + span:hover::before,
div.container > div.workspace > div:first-child > div.box > div:last-child > div > ul > li > nav > ul > li > div + span:hover::after {
  background-color: rgba(25, 25, 25, 1);
}

/* footer */

/* footer {
  background-color: rgba(26, 26, 26, 1);
}

footer > div.footer.copyright {
  color: rgba(165, 165, 165, 1);
} */

/* form */

.contacts-ul,
div.form {
  background-color: rgba(243, 243, 243, 1);
}

div.form > div > span {
  color: rgba(25, 25, 25, 1);
  font-weight: 900;
}

div.form:not(.success) > div > span,
div.form:not(.success) > div > blockquote {
  display: none !important;
}

div.form > div > blockquote,
div.form > form li > div.consent {
  color: rgba(25, 25, 25, 1);
}

div.form > form ul > li > div {
  background-color: rgba(255, 255, 255, 1);
}

div.form > form ul > li > div.accent {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(25, 25, 25, 1);
  font-weight: 900;
  text-align: right;
}

div.form > form li > div.accent > span::before,
div.form > form li > div > label > textarea + span,
div.form > form li > div > label > input[type=text] + span,
div.form > form li > div > label > input[type=email] + span,
div.form > form li > div > label > input[type=tel] + span {
  color: rgba(115, 115, 115, 1);
}

div.form > form li > div > label > textarea,
div.form > form li > div > label > input {
  border: 1px solid rgba(230, 230, 230, 1);
  color: rgba(25, 25, 25, 1);
}

div.form > form li > div > label > textarea:focus,
div.form > form li > div > label > input:focus {
  border: 1px solid rgba(210, 210, 210, 1);
}

div.form > form ul > li > div > label > input.error {
  border: 1px solid rgba(189, 54, 47, 1) !important;
}

div.form > form li > div.choose::after,
div.form > form ul > li > div.required::after {
  color: rgba(115, 115, 115, 1);
}

div.form > form li > div > button {
  height: 3.125em;
  border-radius: .25em;
  font-size: .8em;
  line-height: 3.125em;
  text-transform: uppercase;
  background-color: rgba(189, 54, 47, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
}

div.form > form li > div > button:hover {
  background-color: rgba(159, 24, 17, 1);
}

div.form > form li > div,
div.form > form li > div > button,
div.form > form li > div > label > textarea,
div.form > form li > div > label > input {
  border-radius: .25em;
}

/* article */

article > div.content > div h1,
article > div.content > div h2,
article > div.content > div h3,
article > div.content > div h4,
article > div.content > header h1 {
  font-family: "accent", Arial, Tahoma, Verdana, sans-serif;
  font-weight: 900;
  color: rgba(25, 25, 25, 1);
}

article > div.content > div blockquote,
article > div.content > header blockquote {
  font-family: "accent", Arial, Tahoma, Verdana, sans-serif;
  font-weight: 500;
  color: rgba(189, 54, 47, 1);
}

/* developer */
footer > div.footer.copyright > a.developer::after {
  color: rgba(115, 115, 115, 1);
}

footer > div.footer.copyright > a.developer:hover::after {
  color: rgba(25, 25, 25, 1);
}

/* список выбора */

div.container > div.list {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(25, 25, 25, .1);
  border-radius: .25em;
  overflow: hidden;
}

div.container > div.list > div > div > ul > li {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(77, 77, 77, 1);
}

div.container > div.list > div > div > ul > li:hover {
  color: rgba(189, 54, 47, 1);
}

/* header icons */

.header-icons-info {
  background-color: rgba(189, 54, 47, 1);
  color: rgba(255, 255, 255, 1);
  border: solid 1px rgba(255, 255, 255, 1);
}

.header-icons-a,
.header-icons-a:hover {
  border: 0 !important;
  color: rgba(115, 115, 115, 1);
}

.header-icon-basket::before {
  content: "\e905";
}

.informer {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(25, 25, 25, .1);
  border-radius: .25em;
}

.informer-a {
  background-color: rgba(189, 54, 47, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: .25em;
  font-weight: 800;
}

.informer-a:hover {
  background-color: rgba(159, 24, 17, 1);
  color: rgba(255, 255, 255, 1);
}

.tail,
.tail::before {
  background-color: rgba(255, 255, 255, 1);
}

.tail::before {
  border-top: 1px solid rgba(25, 25, 25, .05);
  border-left: 1px solid rgba(25, 25, 25, .05);
}

.contacts-header {
  border-bottom: solid 1em rgba(189, 54, 47, 1);
}

.contacts-header-div-span,
.contacts-header-div::before,
.contacts-header-div-span::before {
  background-color: rgba(189, 54, 47, 1);
}

.contacts-header-div-span {
  color: rgba(255, 255, 255, 1);
}

@media (min-width : 1201px) {
  .header {
    width: calc(100% - 16em);
  }

  div.form > div > span,
  article > div.content > div > h1,
  article > div.content > div > h2,
  article > div.content > header h1 {
    font-size: 2.4em;
  }

  article > div.content > div > h3 {
    font-size: 2.3em;
  }

  article > div.content > div > h4 {
    font-size: 2.2em;
  }

  div.container > div.workspace > div:last-child {
    padding-top: 4.5em;
  }

  div.container > div.workspace > div:first-child > div.box > div:first-child {
    padding: .5rem 0 0 0;
  }

  .header-phone {
    display: none;
  }
}

@media (min-width : 961px) and (max-width : 1200px) {
  .header {
    width: calc(100% - 16em);
  }

  div.form > div > span,
  article > div.content > div > h1,
  article > div.content > div > h2,
  article > div.content > header h1 {
    font-size: 2.2em;
  }

  article > div.content > div > h3 {
    font-size: 2.1em;
  }

  article > div.content > div > h4 {
    font-size: 2em;
  }

  div.container > div.workspace > div:last-child {
    padding-top: 4.5em;
  }

  div.container > div.workspace > div:first-child > div.box > div:first-child {
    padding: .5rem 0;
  }

  .aside-phone {
    display: none;
  }
}

@media (min-width : 721px) and (max-width : 960px) {
  .header {
    width: 100%;
  }

  .header-logo {
    max-width: 4.5rem;
    max-height: calc(100% - 1rem);
  }

  div.form > div > span,
  article > div.content > div > h1,
  article > div.content > header h1,
  article > div.content > div > h2 {
    font-size: 2em;
  }

  article > div.content > div > h3 {
    font-size: 1.9em;
  }

  article > div.content > div > h4 {
    font-size: 1.8em;
  }

  div.container > div.workspace > div:last-child,
  div.container > div.workspace > div:first-child {
    padding-top: 4.5em;
  }

  .aside-phone,
  .aside-logo {
    display: none;
  }
}

@media (min-width : 481px) and (max-width : 720px) {
  .header {
    width: 100%;
  }

  .header-logo {
    max-width: 5rem;
    max-height: calc(100% - 1rem);
  }

  div.form > div > span,
  article > div.content > div > h1,
  article > div.content > header h1,
  article > div.content > div > h2 {
    font-size: 1.8em;
  }

  article > div.content > div > h3 {
    font-size: 1.7em;
  }

  article > div.content > div > h4 {
    font-size: 1.6em;
  }

  div.container > div.workspace > div:last-child,
  div.container > div.workspace > div:first-child {
    padding-top: 4.5em;
  }

  div.container > div.workspace > div:first-child > div.box > div:first-child {
    background-color: rgba(238, 238, 238, 1);
  }

  .aside-logo {
    display: none;
  }
}

@media (max-width : 480px) {
  .header {
    width: 100%;
  }

  .header-logo {
    max-width: 6rem;
    max-height: calc(100% - 1rem);
  }

  div.form > div > span,
  article > div.content > div > h1,
  article > div.content > div > h2,
  article > div.content > header h1 {
    font-size: 1.6em;
  }

  article > div.content > div > h3 {
    font-size: 1.5em;
  }

  article > div.content > div > h4 {
    font-size: 1.4em;
  }

  div.container > div.workspace > div:first-child,
  div.container > div.workspace > div:last-child {
    padding-top: 4.5em;
  }

  div.container > div.workspace > div:first-child > div.box > div:first-child {
    background-color: rgba(238, 238, 238, 1);
  }

  .aside-logo {
    display: none;
  }
}
