@charset "UTF-8";

article > div.content {
  padding-top: calc(1rem + 2.5em) !important;
}

.container:not(.opened) .filter-button {
  left: 0;
  opacity: 1;
}

.container.opened .filter-button {
  left: 16em;
  opacity: .5;
}

.wrapper:not(.selected) > .filter {
  left: 0;
}

.wrapper.selected > .filter {
  left: -16em;
}

.filter {
  position: relative;
  z-index: 120;
  width: 16em;
  min-width: 16em;
  max-width: 16em;
  height: 100%;
  transition: left .3s ease;
  overflow: hidden;
  background-color: rgba(248, 248, 248, 1);
}

.filter-close {
  display: flex;
  align-items: center;
  top: 0;
  right: -.25em;
  z-index: 30;
  width: 2.75em;
  height: 2.5em;
  cursor: pointer;
  transform: scale(.9);
  transform-origin: right top;
  transition: all .3s ease;
}

.filter-close:hover {
  right: 0;
}

.filter-close::before {
  display: block;
  position: absolute;
  right: calc(100% - 1.6em);
  bottom: 0;
  z-index: 10;
  width: 5em;
  height: 5em;
  border-bottom-left-radius: 29%;
  transform: rotate(-33deg);
  transform-origin: center top;
  content: "";
  background-color: inherit;
}

.filter-close-ul {
  position: relative;
  left: -.25em;
  z-index: 20;
  width: 2.5em;
  height: 1.5em;
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
  overflow: hidden;
  transform: scale(.75);
  transform-origin: center center;
}

.filter-close-ul > li {
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  z-index: inherit;
  width: 1.5em;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.filter-close-ul > li:first-child {
  transform: rotate(45deg);
}

.filter-close-ul > li:last-child {
  transform: rotate(-45deg);
}

.filter-ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-ul > li:first-child {
  position: relative;
  flex: 1;
  max-height: calc(100% - 4.5em);
  overflow: hidden;
}

.filter-ul > li:first-child::before,
.filter-ul > li:first-child::after {
  position: absolute;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 1.5em;
  content: "";
}

.filter-ul > li:first-child::before {
  top: 0;
  background-image: linear-gradient(to top, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 100%);
}

.filter-ul > li:first-child::after {
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 100%);
}

.filter-ul > li:last-child {
  height: 4.5em;
}

.filter-ul-li-div {
  display: flex;
  padding: .5em 1em;
  border-top: solid 1px rgba(213, 213, 213, 1);
}

.filter-ul-li-div > button {
  flex: 1;
  position: relative;
  font-size: .75em;
  height: calc(1em/3 + 3em);
  margin: calc(1em/3*2);
  border-radius: calc(1em/3);
  line-height: calc(1em/3 + 3em);
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  transition: all .3s ease;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.filter-ul-li-div-view {
  border: solid 2px rgba(189, 54, 47, 1);
  background-color: rgba(189, 54, 47, 1);
  color: rgba(255, 255, 255, 1);
}

.filter-ul-li-div-view:hover {
  border: solid 2px rgba(159, 24, 17, 1);
  background-color: rgba(159, 24, 17, 1);
}

.filter-ul-li-div-reset {
  border: solid 2px rgba(213, 213, 213, 1);
  background-color: rgba(213, 213, 213, .5);
  color: rgba(75, 75, 75, 1);
}

.filter-ul-li-div-reset:hover {
  background-color: rgba(213, 213, 213, 1);
}

.filter-form-list {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.filter-form-list > li:not(.selected) > ol {
  height: 0;
  overflow: hidden;
}

ul.filter-form-list > li:first-child {
  padding-top: 2.5em;
}

ul.filter-form-list > li:last-child {
  padding-bottom: 2.5em;
}

.filter-form-list > li,
.filter-form-list > li > div {
  position: relative;
  padding-left: 1.5em;
}

.filter-form-list > li > div {
  color: rgba(115, 115, 115, 1);
  transition: color .3s ease;
  cursor: pointer;
}

ol.filter-form-list > li.selected > div,
.filter-form-list > li > div:hover {
  color: rgba(25, 25, 25, 1);
}

.filter-form-list > li > div::before,
.filter-form-list > li > div::after {
  position: absolute;
  z-index: 10;
  content: "";
  transition: all .3s ease;
}

ul.filter-form-list > li > div::before,
ul.filter-form-list > li > div::after {
  top: calc(50% - 1px);
  width: 10px;
  height: 2px;
  background-color: rgba(115, 115, 115, 1);
}

ul.filter-form-list > li > div::before {
  left: 0;
}

ul.filter-form-list > li > div::after {
  left: 7px;
}

ul.filter-form-list > li > div::after,
ul.filter-form-list > li.selected > div::before {
  transform: rotate(-35deg);
}

ul.filter-form-list > li > div::before,
ul.filter-form-list > li.selected > div::after {
  transform: rotate(35deg);
}

ul.filter-form-list > li > div:hover::before,
ul.filter-form-list > li > div:hover::after {
  background-color: rgba(25, 25, 25, 1);
}

ol.filter-form-list > li > div::before,
ol.filter-form-list > li > div::after {
  border-radius: 50%;
}

ol.filter-form-list > li > div::before {
  top: calc(50% - .5em - 2px);
  left: 0;
  width: 1em;
  height: 1em;
  border: solid 2px rgba(213, 213, 213, 1);
}

ol.filter-form-list > li.selected > div::after {
  top: calc(50% - (1em - 6px)/2);
  left: 5px;
  width: calc(1em - 6px);
  height: calc(1em - 6px);
  background-color: rgba(189, 54, 47, 1);
}

.filter-form-list > li > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

ul.filter-form-list > li > div {
  height: 2.5em;
}

ol.filter-form-list > li > div {
  height: 1.75em;
}

.filter-form-list > li > div > span {
  display: block;
  transform-origin: left center;
  white-space: nowrap;
}

ul.filter-form-list > li > div > span {
  transform: scale(.9);
  font-weight: 600;
}

ol.filter-form-list > li > div > span {
  transform: scale(.8);
  font-weight: 400;
}

ol.filter-form-list > li > div > input {
  display: none;
}

.filter-button {
  position: absolute;
  top: 100%;
  z-index: 10;
  width: 100%;
  height: 2.5em;
  padding-top: .5em;
  overflow: hidden;
  transition: all .3s ease;
}

.filter-button-div {
  height: 100%;
}

.filter-button-div-span {
  display: flex;
  align-items: center;
  bottom: 0;
  right: -.25em;
  z-index: 10;
  height: calc(100% + .5em);
  padding-right: .25em;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: right .3s ease;
}

.filter-button-div-span:hover {
  right: 0;
}

.filter-close,
.filter-button-div-span > span::before,
.filter-button-div-span,
.filter-button::before,
.filter-button-div::before,
.filter-button-div-span::before {
  position: absolute;
  background-color: rgba(189, 54, 47, 1);
}

.filter-button::before {
  display: block;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: .3em;
  content: "";
}

.filter-button-div::before {
  display: block;
  left: 100%;
  bottom: 0;
  z-index: 10;
  height: calc(100% + .5em);
  content: "";
}

.filter-button-div-span::before {
  display: block;
  right: calc(100% - 1.6em);
  bottom: 0;
  z-index: 10;
  width: 5em;
  height: 5em;
  border-bottom-left-radius: 29%;
  transform: rotate(-33deg);
  transform-origin: center top;
  content: "";
}

.filter-button-div-span > span {
  display: block;
  position: relative;
  z-index: 10;
  font-weight: 500;
  padding-left: 1.5em;
}

.filter-button-div-span > span::before {
  left: 0;
  font-family: "icomoon" !important;
  font-weight: normal;
  content: "\e90a";
}

@media (min-width : 1201px) {
  .filter-button-div::before {
    width: calc((100vw - 16em - 100%)/2);
  }
}

@media (min-width : 961px) and (max-width : 1200px) {
  .filter-button-div::before {
    width: calc((100vw - 16em - 100%)/2);
  }
}

@media (min-width : 721px) and (max-width : 960px) {
  .filter-button-div::before {
    width: calc((100vw - 100%)/2);
  }
}

@media (min-width : 481px) and (max-width : 720px) {
  .filter-button-div::before {
    width: calc((100vw - 100%)/2);
  }
}

@media (max-width : 480px) {
  .filter-button-div::before {
    width: calc((100vw - 100%)/2);
  }
}
