@charset "UTF-8";

.contacts-header {
  position: relative;
  width: 100%;
  height: 2.5em;
  padding-bottom: .5em;
  overflow: hidden;
}

.contacts-header-div {
  height: 100%;
}

.contacts-header-div-span {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10;
  height: calc(100% + .5em);
  color: rgba(255, 255, 255, 1);
}

.contacts-header-div-span::before,
.contacts-header-div::before,
.contacts-header-div-span,
.contacts-header::before {
  position: absolute;
  background-color: rgba(115, 115, 115, 1);
}

.contacts-header::before {
  display: block;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: .3em;
  content: "";
}

.contacts-header-div::before {
  display: block;
  right: 100%;
  top: 0;
  z-index: 10;
  height: calc(100% + .5em);
  content: "";
}

.contacts-header-div-span::before {
  display: block;
  left: calc(100% - 1.6em);
  top: 0;
  z-index: 10;
  width: 5em;
  height: 5em;
  border-top-right-radius: 29%;
  transform: rotate(-33deg);
  transform-origin: center bottom;
  content: "";
}

.contacts-header-div-span > span {
  display: block;
  position: relative;
  z-index: 10;
  font-weight: 500;
  padding-right: 1.5em;
}

.contacts-ul,
.contacts-ul-li-ul {
  margin: 0;
  list-style: none;
}

.contacts-ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.contacts-ul-li {
  position: relative;
  flex-grow: 1;
  min-width: calc(240px + 1rem - 1em);
  min-height: 240px;
  overflow: hidden;
}

.contacts-ul-li:first-child {
  width: calc(50% - .25rem);
}

.contacts-ul-li:last-child {
  width: calc(50% + .25rem);
}

.contacts-ul-li-ul {
  max-width: calc(480px + 1.25rem);
}

.contacts-ul-li-ul-li-div {
  transform: scale(.8);
  transform-origin: left center;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: calc(100% + 2em);
}

.ymaps-2-1-72-ground-pane {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}

@media (min-width : 1201px) {
  .contacts-header-div::before {
    width: calc((100vw - 16em - 100%)/2);
  }

  .contacts-ul-li-ul {
    padding: 0 1rem .5rem .5rem;
  }
}

@media (min-width : 961px) and (max-width : 1200px) {
  .contacts-header-div::before {
    width: calc((100vw - 16em - 100%)/2);
  }

  .contacts-ul-li-ul {
    padding: 0 1rem .5rem .5rem;
  }
}

@media (min-width : 721px) and (max-width : 960px) {
  .contacts-header-div::before {
    width: calc((100vw - 100%)/2);
  }

  .contacts-ul-li-ul {
    padding: 0 1rem .5rem .5rem;
  }
}

@media (min-width : 481px) and (max-width : 720px) {
  .contacts-header-div::before {
    width: calc((100vw - 100%)/2);
  }

  .contacts-ul-li-ul {
    padding: 0 1rem .5rem .5rem;
  }
}

@media (max-width : 480px) {
  .contacts-header-div::before {
    width: calc((100vw - 100%)/2);
  }

  .contacts-ul-li-ul {
    padding: .5rem 1rem 1rem 1rem;
  }
}
