@charset "UTF-8";

.product-name-span:first-child {
  text-transform: uppercase;
}

.product-name-span:last-child {
  color: rgba(115, 115, 115, 1);
  text-transform: lowercase;
}

.product-tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 .5rem 0;
  list-style: none;
  min-height: 2.5em;
}

.product-tabs-li-ul {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 2.5em;
  border-bottom: solid 1px rgba(230, 230, 230, 1);
}

.product-tabs-li-ul-li:not(.selected) {
  color: rgba(115, 115, 115, 1);
  cursor: pointer;
  transition: color .3s ease;
}

.product-tabs-li-ul-li:hover {
  color: rgba(25, 25, 25, 1);
}

.product-tabs-li-ul-li.selected,
.product-tabs-li-ul-li.selected:hover {
  color: rgba(189, 54, 47, 1);
}

.product-tabs-li-ul-li:not(:first-child) {
  margin-left: 1em;
}

.product-tabs-li-ul-li-span {
  display: block;
  transform: scale(.8);
  transform-origin: left center;
}

.product-tabs-li-div {
  position: relative;
  display: none;
  font-size: .9em;
}

.product-tabs-li-div.selected {
  display: block;
}

.buy-info {
  position: relative;
}

.buy-info-div {
  position: inherit;
  border-radius: .25em;
}

.buy-info-div-ul {
  display: flex;
  flex-wrap: wrap;
  padding: .5em 1em;
  margin: 0;
  list-style: none;
  border: solid 1px rgba(230, 230, 230, 1);
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
}

.buy-info-div-ul-li-div {
  transform: scale(.75);
  transform-origin: left center;
}

.buy-info-div-ul-li-div-span {
  display: block;
}

.buy-info-div-ul-li-div-span:first-child {
  color: rgba(115, 115, 115, 1);
}

.buy-info-div-ul-li-div-span:last-child {
  color: rgba(25, 25, 25, 1);
}

/* ВЕБ-форма */
.buy-info-div-properties {
  width: 100%;
}

.buy-info-div-colors-span {
  display: block;
  font-weight: 600;
  transform: scale(.9);
  transform-origin: left center;
}

.buy-info-div-colors-ul {
  position: relative;
  left: -.5em;
  width: calc(100% + 1em);
  display: flex;
  flex-wrap: wrap;
  padding: .5em 0 1em 0;
  margin: 0;
  list-style: none;
}

.buy-info-div-colors-ul-li {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  margin: .5em;
}

.buy-info-div-colors-ul-li-span,
.buy-info-div-colors-ul-li-a,
.buy-info-div-colors-ul-li-a-img {
  display: block;
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.buy-info-div-colors-ul-li-span,
.buy-info-div-colors-ul-li-a {
  position: relative;
}

.buy-info-div-colors-ul-li-a::before,
.buy-info-div-colors-ul-li-span::before {
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: 1;
  border-radius: 50%;
  content: "";
  transition: border .3s ease;
}

.buy-info-div-colors-ul-li-a::before {
  border: solid 2px rgba(115, 115, 115, 0);
}

.buy-info-div-colors-ul-li-a:hover::before {
  border: solid 2px rgba(115, 115, 115, 1);
}

.buy-info-div-colors-ul-li-span::before {
  border: solid 2px rgba(189, 54, 47, 1);
}

.buy-info-div-form {
  position: relative;
  padding: .5em 1em;
  background-color: rgba(243, 243, 243, 1);
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
}

.buy-info-div-form-price {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: .5em 0;
}

.buy-info-div-form-price-value,
.buy-info-div-form-price-unit {
  white-space: nowrap;
  line-height: 1;
}

.buy-info-div-form-price-value {
  font-size: 1.5em;
  font-weight: 600;
}

.buy-info-div-form-price-value::after {
  font-family: "ruble", Arial, Tahoma, Verdana, sans-serif;
  font-weight: 500;
  content: "\0000a0₽";
}

.buy-info-div-form-price-unit {
  padding-left: 1em;
  font-size: .8em;
  line-height: 1.1;
  color: rgba(115, 115, 115, 1);
}

.buy-info-div-form-button {
  position: relative;
  width: 100%;
  height: 3.125em;
  padding: 0 1.5em;
  margin: 0 0 .5em 0;
  border: 0;
  border-radius: .25em;
  font-size: .8em;
  line-height: 3.125em;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
  transition: all .3s ease;
  overflow: hidden;
}

.buy-info-div-form-button.basket {
  background-color: rgba(189, 54, 47, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.buy-info-div-form-button.basket:hover {
  background-color: rgba(159, 24, 17, 1);
}

.buy-info-div-form-button.empty {
  background-color: rgba(213, 213, 213, 1);
  color: rgba(50, 50, 50, 1);
  cursor: default;
}

.buy-info-div-form-button.empty,
.buy-info-div-form-button.basket.selected {
  display: none;
}

.buy-info-div-form-button.basket.selected + button {
  display: block;
}

/* фотогалерея */

.product-gallery {
  padding-left: 0 !important;
  font-size: 1em !important;
}

.product-gallery-wrapper {
  position: relative;
  padding-top: 75%;
}

.product-gallery-wrapper-div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.product-gallery-wrapper-div,
.product-gallery-swiper-container {
  width: 100%;
  height: 100%;
}

.product-gallery-swiper-container {
  padding-bottom: 1em;
}

.product-gallery-thumbs-swiper-slide,
.product-gallery-swiper-slide {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.product-swiper-container-scrollbar {
  opacity: 1 !important;
}

.product-swiper-container-pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  text-align: right;
  transform: scale(.75);
  transform-origin: right center;
  color: rgba(115, 115, 115, 1);
}

.swiper-pagination-current {
  color: rgba(25, 25, 25, 1);
}

.product-gallery-wrapper-thumbs {
  height: 4em;
}

.product-gallery-thumbs-swiper-slide {
  border: solid 1px rgba(230, 230, 230, 1);
  border-radius: .25em;
  transition: border .3s ease;
}

.product-gallery-thumbs-swiper-slide:hover {
  border: solid 1px rgba(115, 115, 115, 1);
}

.product-gallery-thumbs-swiper-slide.swiper-slide-thumb-active {
  border: solid 1px rgba(189, 54, 47, 1);
}

.product-gallery-thumbs-swiper-slide:not(.swiper-slide-thumb-active) {
  cursor: pointer;
}

@media (min-width : 1201px) {
  .product-tabs {
    flex-direction: row-reverse;
  }

  .buy-info {
    width: 14em;
  }

  .buy-info-div {
    padding: 2.5em 0 0 0;
  }

  .buy-info-div-properties {
    position: absolute;
    bottom: calc(100% - 2.5em);
    left: 0;
    z-index: 5;
  }

  .buy-info-div-ul-li {
    width: 100%;
  }

  .product-tabs-li {
    width: calc(100% - 14em - .5rem);
    margin-right: .5rem;
  }

  .product-gallery {
    padding-right: calc(14em + .5rem) !important;
  }

  .product-swiper-container-scrollbar,
  .product-swiper-container-pagination {
    display: none;
  }

}

@media (min-width : 961px) and (max-width : 1200px) {

  .buy-info,
  .product-tabs-li {
    width: 100%;
  }

  .buy-info-div-form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .buy-info-div-form-price,
  .buy-info-div-form-price + form {
    width: 50%;
  }

  .buy-info-div-form-price + form {
    padding-right: 1em;
  }

  .product-tabs-li {
    margin-top: .5rem;
  }

  .buy-info-div-ul-li {
    width: 50%;
  }

  .product-gallery {
    padding-right: 0 !important;
  }

  .product-swiper-container-scrollbar,
  .product-swiper-container-pagination {
    display: none;
  }
}

@media (min-width : 721px) and (max-width : 960px) {
  .product-tabs {
    flex-direction: row-reverse;
  }

  .buy-info {
    width: 14em;
  }

  .buy-info-div {
    padding: 2.5em 0 0 0;
  }

  .buy-info-div-properties {
    position: absolute;
    bottom: calc(100% - 2.5em);
    left: 0;
    z-index: 5;
  }

  .buy-info-div-ul-li {
    width: 100%;
  }

  .product-tabs-li {
    width: calc(100% - 14em - .5rem);
    margin-right: .5rem;
  }

  .product-gallery {
    padding-right: calc(14em + .5rem) !important;
  }

  .product-gallery-wrapper-thumbs {
    display: none;
  }

}

@media (min-width : 481px) and (max-width : 720px) {

  .buy-info,
  .product-tabs-li {
    width: 100%;
  }

  .buy-info-div-form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .buy-info-div-form-price,
  .buy-info-div-form-price + form {
    width: 50%;
  }

  .buy-info-div-form-price + form {
    padding-right: 1em;
  }

  .product-tabs-li {
    margin-top: .5rem;
  }

  .buy-info-div-ul-li {
    width: 50%;
  }

  .product-gallery {
    padding-right: 0 !important;
  }

  .product-gallery-wrapper-thumbs {
    display: none;
  }
}

@media (max-width : 480px) {

  .buy-info,
  .product-tabs-li {
    width: 100%;
  }

  .product-tabs-li {
    margin-top: .5rem;
  }

  .buy-info-div-ul-li {
    width: 100%;
  }

  .product-gallery {
    padding-right: 0 !important;
  }

  .product-gallery-wrapper-thumbs {
    display: none;
  }
}
