@charset "UTF-8";

@font-face {
  font-family: "content";
  font-display: swap;
  src: local("GothamProLight"), local("Gotham Pro Light"), local("GothamPro-Light"), url("GothamPro-Light.eot");
  src: url("GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("GothamPro-Light.woff2") format("woff2"), url("GothamPro-Light.woff") format("woff"), url("GothamPro-Light.otf") format("opentype"), url("GothamPro-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "content";
  font-display: swap;
  src: local("GothamProRegular"), local("Gotham Pro Regular"), local("GothamPro-Regular"), url("GothamPro-Regular.eot");
  src: url("GothamPro-Regular.eot?#iefix") format("embedded-opentype"), url("GothamPro-Regular.woff2") format("woff2"), url("GothamPro-Regular.woff") format("woff"), url("GothamPro-Regular.otf") format("opentype"), url("GothamPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "content";
  font-display: swap;
  src: local("GothamProMedium"), local("Gotham Pro Medium"), local("GothamPro-Medium"), url("GothamPro-Medium.eot");
  src: url("GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("GothamPro-Medium.woff2") format("woff2"), url("GothamPro-Medium.woff") format("woff"), url("GothamPro-Medium.otf") format("opentype"), url("GothamPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "content";
  font-display: swap;
  src: local("GothamProBold"), local("Gotham Pro Bold"), local("GothamPro-Bold"), url("GothamPro-Bold.eot");
  src: url("GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("GothamPro-Bold.woff2") format("woff2"), url("GothamPro-Bold.woff") format("woff"), url("GothamPro-Bold.otf") format("opentype"), url("GothamPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "accent";
  font-display: swap;
  src: local("GothamProBlack"), local("Gotham Pro Black"), local("GothamPro-Black"), url("GothamPro-Black.eot");
  src: url("GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("GothamPro-Black.woff2") format("woff2"), url("GothamPro-Black.woff") format("woff"), url("GothamPro-Black.otf") format("opentype"), url("GothamPro-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
