@charset "UTF-8";

footer > div.footer.copyright {
  padding: 1.5em 0;
  font-size: 0.8em;
  min-height: 5.8em;
}

footer > div.footer.copyright > span,
footer > div.footer.copyright > a,
footer > div.footer.copyright > a > span {
  display: inline-block;
}
