@charset "UTF-8";

body {
  font-weight: 400;
  font-style: normal;
  font-family: "content", Arial, Tahoma, Verdana, sans-serif;
  line-height: 1.4;
}

b,
strong {
  font-weight: 700;
}

.accent {
  font-family: "accent", Arial, Tahoma, Verdana, sans-serif;
}

.alignment {
  padding: 0 1rem;
}

.centering {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.phone,
.logo {
  display: block;
  position: relative;
}

.phone-span-comment {
  display: inherit;
  position: absolute;
  top: calc(50% - 1.8em);
  left: 0;
  z-index: 1;
  font-weight: 300;
  white-space: nowrap;
  transition: color .3s ease;
}

.phone-span,
.logo-span {
  display: inherit;
  width: 100%;
  white-space: nowrap;
}

.logo-span {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 50%;
}

a {
  text-decoration: none;
  transition: all .3s ease;
}

div.container {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

ol.social {
  display: flex;
  width: 10em;
  padding: 0;
  list-style: none;
}

ol.social > li,
ol.social > li > a {
  width: 3em;
  height: 3em;
}

ol.social > li:not(:last-child) {
  margin-right: 0.5em;
}

ol.social > li > a {
  display: block;
  position: relative;
  border-radius: .25em;
  text-decoration: none;
  transition: all .3s ease;
}

ol.social > li > a::after {
  position: absolute;
  top: 25%;
  left: 0;
  z-index: 2;
  width: 100%;
  font-family: "icomoon" !important;
  text-align: center;
  transform: scale(1.5);
  transform-origin: center center;
}

ol.social > li > a.instagram::after {
  content: "\e90b";
}

ol.social > li > a.facebook::after {
  content: "\e908";
}

ol.social > li > a.vk::after {
  content: "\e90e";
}

/* 60px — базовый отступ 
внутренние и внешние отступы делятся или умножаются на 2
120px — 60px — 30px */
@media (min-width : 1201px) {

  /* rem */
  html {
    font-size: 60px;
  }

  /* em */
  body {
    font-size: 20px;
  }

  ol.social {
    position: absolute;
    right: 0;
    top: calc(50% - 1.5em);
    margin: 0;
  }
}

/* 50px — базовый отступ 
внутренние и внешние отступы делятся или умножаются на 2
100px — 50px — 25px */
@media (min-width : 961px) and (max-width : 1200px) {

  /* rem */
  html {
    font-size: 50px;
  }

  /* em */
  body {
    font-size: 19.5px;
  }

  ol.social {
    position: absolute;
    right: 0;
    top: calc(50% - 1.5em);
    margin: 0;
  }
}

/* 40px — базовый отступ 
внутренние и внешние отступы делятся или умножаются на 2
80px — 40px — 20px */
@media (min-width : 721px) and (max-width : 960px) {

  /* rem */
  html {
    font-size: 40px;
  }

  /* em */
  body {
    font-size: 19px;
  }

  ol.social {
    position: absolute;
    right: 0;
    top: calc(50% - 1.5em);
    margin: 0;
  }
}

/* 30px — базовый отступ 
внутренние и внешние отступы делятся или умножаются на 2
60px — 30px — 15px */
@media (min-width : 481px) and (max-width : 720px) {

  /* rem */
  html {
    font-size: 30px;
  }

  /* em */
  body {
    font-size: 18.5px;
  }

  ol.social {
    position: absolute;
    right: 0;
    top: calc(50% - 1.5em);
    margin: 0;
  }
}

/* 20px — базовый отступ 
внутренние и внешние отступы делятся или умножаются на 2
40px — 20px — 10px */
@media (max-width : 480px) {

  /* rem */
  html {
    font-size: 20px;
  }

  /* em */
  body {
    font-size: 18px;
  }

  ol.social {
    position: relative;
    margin: 0.5rem 0 0 0;
  }
}
